<?xml version="1.0" encoding="UTF-8"?>
<config_game>
    <cameraConfig
        pos="0,-110,7"
        lookAt="0,0,20"
        fov="60"
        screenWidth="1024"
        screenHeight="768"
        parDistCam="250">
    </cameraConfig>
    <simulationLog
        outfile="run/worldlog.txt"
        mode="a">
    </simulationLog>
</config_game>


